# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
/python/X.h5

# SGX ADL
.idea/
.vscode/ipch
build/
profiling/
cmake-build-debug/
.ccls-cache/
python/backdoor_data_poisoning/poisoned_datasets/
python/backdoor_data_poisoning/graphics/
python/**/*.log
*.bz2


python/backdoor_data_poisoning/MNIST-CLASS-PREDS-HISTOGRAM-CLEAN-VS-POISONED.jpeg

python/backdoor_data_poisoning/p-v-cdf-bar-real-p-range-0.002.png

python/backdoor_data_poisoning/test-stat-cdf-step.png

python/backdoor_data_poisoning/test-stat-cdf-bar.png

python/backdoor_data_poisoning/p-v-cdf-step.png

python/backdoor_data_poisoning/p-v-cdf-bar.png

test/config/idash/__pycache__/

test/config/idash/weight.hdf5

test/config/idash/TAG_weights.tag

test/config/idash/IV_weights.iv

test/config/idash/darknet-idash-weights.bin

test/config/idash/darknet-idash-weights.bin.enc

build_with_make/

SGX-ADL-Compile-Make.log

SGX-ADL-Compile-Ninja.log

test/config/cifar10/run_configs/
test/config/imagenet_sample/vgg16_run_configs
test/config/cifar10/cifar10_task_config.bin

third_party/darknet2/